{# templates/index.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Homepage</title>
    </head>
    <body>
        <h1>Welcome to Symfony on Docker!</h1>
        <p>Your Symfony project is running successfully with Docker!</p>
    </body>
</html>