body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}



/*___________________ nav barr (gris)_______________________ */

nav.navbar {
    display: flex;
    justify-content: flex-end;
    width: 1269px;
}

.navbar{
    background-color: #404040;
    padding: 1em;
    position: relative;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5% 0%);
    width: 1274px;
    height: 6vh;
    margin-left: 14%;
}



/*______________________ tel_____________________________ */
img.icone_tel {
    width: 7vh;
    height: 7vh;
    padding-right: 3vh;
}

.div_tel {
    display: flex;
    align-items: center;
    width: 45%;
    margin-left: 4%;
}

.texte_tel{
    color: white;
}



/*____________________ email___________________ */

img.icone_email {
    width: 6vh;
    height: 6vh;
    padding-right: 3vh;
}

.div_email {
    display: flex;
    align-items: center;
    width: 42%;
}

.texte_email{
    color: white;
}


/*____________________adresse___________________ */

img.icone_adresse {
    width: 6vh;
    height: 6vh;
    padding-right: 3vh;
}

.div_adresse {
    display: flex;
    align-items: center;
    width: 50%;
}

.texte_adresse{
    color: white;
    margin-right: 0vh;
}






/*_________________ logo_________________ */

.logo{
    width: 26vh;
    position: absolute;
    bottom: 79vh;
    left: 1vh;
    z-index: -1;
}



/*___________________ menu nav____________________ */


.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff51a;
    height: 6vh;
    margin-top: 0;
    margin-bottom: 0;
}



.titre_menu_nav{
color: black;
text-decoration: none;
}


.item {
    transition: transform 0.3s ease;
    
}

.item:hover {
    transform: scale(1.2);
}

p.separation {
    font-weight: 900;
    color: rgb(0, 0, 0);
    margin-right: 0px;
}


.bouton_nav{
    text-decoration: none;
    color: black;
}



/* Style du conteneur du formulaire */

img.img_connexion {
    width: 100%;
    height: 101vh;
}
.opacity_connexion{
    background-color: #0000008c;
    position: absolute;
    width: 100%;
    height: 101%;
    bottom: -127px;
}

main {
    height: 101vh;
}

.login-container {
    width: 409px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff03;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    position: absolute;
    bottom: 12%;
    left: 36%;
}

/* Style du titre du formulaire */
.login-container h2 {
    text-align: center;
    color: #fafafa;
    margin-bottom: 30px;
    font-size: xx-large;
    margin-top: -3%;
}

/* Style des groupes de champs (conteneur label + input) */
.form-group {
    margin-bottom: 20px;
}

/* Style des labels des champs */
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

/* Style des champs de saisie */
.form-control {
    width: 94%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Style du bouton de connexion */
.btn-login {
    width: 53%;
    padding: 12px;
    background-color: #afb800;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 13vh;
}

/* Animation au survol du bouton */
.btn-login:hover {
    background-color: #f2ff00;
}

/* Style général des messages d'alerte */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
}

/* Style spécifique pour les messages d'erreur */
.alert-danger {
    background-color: #ffffff;
    color: #ff0019;
    border: 1px solid #ffffff;
}
















/* ___________________________________Footer__________________________________ */

.full-footer {
    background-color: #1d1d1d;
    color: #fff;
    
}

img.logo_footer {
    width: 27vh;
    position: relative;
    margin-left: -29vh;
    bottom: -4vh;
}



/*__________ mention legale/politique de confidentialité/politique dutilisation _____________________*/

/*trait de separation*/

hr.trait-footer {
    margin: 0;
}

/* mention legale */
.footer-legal a:hover {
    color: #e0e000;
}


.footer-legal a {
    color: #f7f700;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 5px 10px;
}


.footer-legal {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: -2vh;
    margin-top: 6px;
}

p.politique {
    font-size: 61%;
}

p.condition {
    font-size: 61%;
}

p.mention {
    font-size: 61%;
}


/*________________________________ resaux sociaux __________________________________*/

img.icone_fb {
    width: 5vh;
    height: 5vh;
    margin-top: 3px;
}

img.icone_twitter {
    width: 10vh;
    height: 6vh;
}

img.icone_insta {
    width: 7vh;
    height: 6vh;
    margin-bottom: 2vh;
}

.footer-media {
    display: flex;
    margin-top: 11vh;
}

/*_________________________________ info garage_____________________________________*/

img.icone_email_footer {
    width: 4vh;
    height: 4vh;
}


img.icone_telephone_footer {
    width: 5vh;
    height: 5vh;
    margin-left: -1%;
}


img.icone_adresse_footer {
    width: 4vh;
    height: 4vh;
    margin-top: 1vh;
    padding-right: 1vh;
}


.footer-info-garage {
    display: flex;
    justify-content: space-evenly;
}

.icone_adresse {
    display: flex;
}


.icone_telephone {
    display: flex;
}


.icone-email {
    display: flex;
}

.num_tel {
    margin-top: 3%;
    margin-left: 1vh;
}

p.email {
    margin-top: 1vh;
    margin-left: 2vh;
}


.footer-a_propos {
    font-size: 73%;
    margin-top: 37px;
    width: 34vh;
    margin-left: -16vh;
}

.footer-horaires {
    margin-top: 37px;
    font-size: 73%;
   
}
