rules_version = '2'; 
service cloud.firestore {
  match /databases/{database}/documents {

    match /messages/{messageId} {
      // Tout le monde peut lire les messages
      allow read: if true; // N'importe qui peut lire
      allow write: if true; // Tout le monde peut envoyer des messages
    }
  }
}